<div id="container">
  <h1>Add cashback</h1>
  <form action="/admin/addCashback" method="post">
    <label>Phone</label>
    <input type="tel" name="phone" placeholder="Phone">
    <label>Cashback</label>
    <input type="text" name="cashback" placeholder="cashback">
    <label>Cause</label>
    <input type="text" name="cause" placeholder="cause">
    <label>Order Number</label>
    <input type="text" name="orderNumber" id="orderNumber">
    <label>Order Cost</label>
    <input type="text" name="orderCost" id="orderCost">
    <button type="submit">Create</button>
  </form>
</div>
