<div id="container">
  <h1>Add cashback</h1>
  <form action="/admin/addCashbackOn" method="post">
    <label>Phone</label>
    <input id="phoneNumber" type="tel" name="phone" placeholder="Phone" value="+7" maxlength="21">
    <label>Cashback</label>
    <input type="text" name="cashback" placeholder="cashback">
    <label>Cause</label>
    <input type="text" name="cause" placeholder="cause">
    <label>Order Cost</label>
    <input type="text" name="orderCost" id="orderCost">
    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/phonevalidation.js"></script>
