<nav class="nav nav-pills nav-justified bg-success border border-bottom-10">
  <a id="create" class="nav-item nav-link text-white" href="/admin/create">Create new User</a>
  <a id="charge" class="nav-item nav-link text-white" href="/admin/addCashback">Charge cashback</a>
  <a id="unload" class="nav-item nav-link text-white" href="/admin/unload">Unload Cashback</a>
  <a id="delete" class="nav-item nav-link text-white" href="/admin/delete">Delete User</a>
</nav>

{{!-- 
<div id="adminContainer">
  <form action="#" method="post">
    <button id="create" formaction="/admin/create">Create new User</button>
    <button id="charge" formaction="/admin/addCashback">Charge cashback</button>
    <button id="unload" formaction="/admin/unload">Unload Cashback</button>
    <input type="radio" name="docType" value="csv" id="csv" checked>
    <label>csv</label>
    <input type="radio" name="docType" value="xls" id="xls">
    <label>xls</label>
    <button id="delete" formaction="/admin/delete">Delete User</button>
  </form>
</div>

 --}}
