<div id="container">
  <h1>Delete User</h1>
  <form action="/admin/deleteUser" method="post">
    <input type="tel" name="phone" placeholder="Phone">
    <input type="text" name="pass" placeholder="Password">
    <button type="submit">Delete</button>
  </form>
</div>
