<div id="container">
  <h1>Create New User</h1>
  <form action="/admin/createUser" method="post">
    <input type="tel" name="phone" placeholder="Phone">
    <input type="text" name="pass" placeholder="Password">
    <div id="passGen">Generate password</div>
    <button type="submit">Create</button>
  </form>
</div>
<script src="/js/application.js"></script>
