<div id="container">
  <h1>Create New User</h1>
  <form action="/admin/createUser" method="post">
    <label>Phone</label>
    <input id="phoneNumber" type="tel" name="phone" placeholder="Phone" value="+7" maxlength="21">
    <label>Password</label>
    <input type="text" name="pass" placeholder="Password">
    <div id="passGen">Generate password</div>
    <button type="submit">Create</button>
  </form>
</div>

<script src="/js/application.js"></script>
<script src="/js/phonevalidation.js"></script>
