body {
  background-image: url(../img/4a6f7b8e-e988-412d-9ecc-61cd586824c0.jpeg)
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
  margin: 100px 50px;
  color: rgb(255, 255, 255);
  padding: 0.5em
}

A:hover {
  color: #30e707;
}
